.wrap{
    max-width: 1000px;
    background: white;
    margin: auto;
}
.wrap a{
    text-decoration: none;
    padding: 10px;
}

.menu{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}
.menu>div{
    width: 20%;
}