*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

h1{
    margin: 30px 0 10px 0;
    color: #404040;
    font-size: 24px;    
}

#main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px 0;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

#link-image{
    width: 20%;
    position: absolute;
    top: -86px;
    left: 0px;
    border-radius: 50%;
}

#link-image > img{
    border-radius: 50%;
    
    width: 100%;
}

#main-menu a{
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
}
#main-menu a:hover, #main-menu a:active{
    color: #ff0000;
}
#main-menu a:active{
    font-weight: bold;
}
.link-text{
    font-weight: bold;
    color:  green;
}

#banner{
    position: relative;
}
#banner-img{
    max-width: 100%;
}

.wrap{
    max-width: 1000px;
    margin: auto;
}

b.hocphi::after{
    content: " VND";
}

p.truong::before{
    content: "Trường đại học ";
}

::selection{
    background-color: black;
    color: white;
}

#footer p{
    margin: 0;
    padding: 30px 0 15px 0;
    border-top: 1px solid #c5c5c5;
}

#chat{
    position: fixed;
    width: 10%;
    right: 10px;
    bottom: 10px;
}

#chat img{
    border-radius: 50%;
    max-width: 30%;
}

#footer{
    margin-bottom: 5px;
}